<a href="https://twitter.com/PodcastEnter" title="Twitter" target="_blank" rel="noopener" class="ico no-hover">
  <svg class="social" version="1.1" width="32" height="32" x="0px" y="0px"
          viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
    <g><g><path style="fill:currentColor;" d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
        c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
        c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
        c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
        c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
        c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
        c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"/>
    </g></g>
    </svg>
</a>

<a href="https://www.youtube.com/channel/UC73Bxv5brHsQg2jg41tJ4xA" title="YouTube" target="_blank" rel="noopener" class="ico no-hover">
  <svg class="social" width="34" height="34" viewBox="0 0 740 740" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,3.33333,111.667)">
        <path d="M718.008,80.679C709.575,48.925 684.725,23.912 653.175,15.425C595.988,0 366.667,0 366.667,0C366.667,0 137.346,0 80.154,15.425C48.604,23.912 23.754,48.925 15.321,80.679C0,138.242 0,258.333 0,258.333C0,258.333 0,378.429 15.321,435.987C23.754,467.746 48.604,492.754 80.154,501.246C137.346,516.667 366.667,516.667 366.667,516.667C366.667,516.667 595.988,516.667 653.175,501.246C684.725,492.754 709.575,467.746 718.008,435.987C733.333,378.429 733.333,258.333 733.333,258.333C733.333,258.333 733.333,138.242 718.008,80.679ZM291.667,367.371L291.667,149.3L483.333,258.337L291.667,367.371Z" style="fill:currentColor;fill-rule:nonzero;"/>
    </g>
</svg>
</a>

<a href="https://anchor.fm/enter-podcast" target="_blank" title="Anchor.fm" rel="noopener" class="ico no-hover">
<svg class="social" width="36" height="36" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,5.09635,6.4156)">
        <path d="M28.831,8.834C28.831,8.834 27.581,8.242 26.284,8.626C25.314,8.912 24.251,9.647 23.646,11.174C22.48,14.102 23.49,19.208 23.095,19.208C22.7,19.208 21.456,14.502 19.793,9.602C18.13,4.702 16.692,-0.387 14.095,0.023C11.792,0.386 12.507,6.189 13.409,11.624C14.225,16.551 15.17,21.163 14.63,21.163C13.665,21.165 10.499,7.547 7.254,8.064C4.01,8.581 8.189,23.586 7.311,23.614C6.589,23.637 4.82,14.481 2.193,14.901C0.203,15.221 1.976,22.344 2.058,24.331C2.078,24.829 2.233,25.764 1.485,25.764L0,25.764L0,27.149L2.431,27.149C2.931,27.126 3.326,26.934 3.526,26.444C4.201,24.781 2.428,17.718 2.843,17.666C3.128,17.632 3.743,19.781 4.601,22.212C5.46,24.643 6.319,27.164 7.949,27.164C11.464,27.164 7.879,13.383 8.576,13.383C8.944,13.383 9.949,16.183 11.054,19.254C12.406,23.007 14.054,27.169 16.044,27.169C18.418,27.169 17.645,21.793 16.91,16.642C16.273,12.184 15.527,7.996 15.925,7.996C16.822,7.996 20.206,27.162 24.271,27.162C26.308,27.162 26.331,23.155 26.331,18.835C26.331,15.801 26.078,13.036 27.984,12.371C28.891,12.055 29.807,12.615 29.807,12.615L28.831,8.834Z" style="fill:currentColor;fill-rule:nonzero;"/>
    </g>
</svg>
</a>