<!doctype html>
<html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="author" content="Adina Foxova" />

        <title>{% block title %}Enter podcast{% endblock %}</title>

        <!-- Google Fonts -->
       <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet"> 

        {% block styles %}
            <link rel="stylesheet" type="text/css" media="all" href="./css/normalize.css">
            <link rel="stylesheet" type="text/css" media="all" href="./css/style.css">
        {% endblock %}


        <!-- FAVICON -->
        <link 
            rel="icon" 
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🟧</text></svg>"
        >
    

        <!-- Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#333333">

    </head>
    <body class="site {% block bodyClass %}{% endblock %}">

        {% block content %}{% endblock %}

  </body>
</html>
